@model Trails4Healthy.Models.ReservaEquipamentos

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ReservaEquipamentos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TuristaId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TuristaId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TrilhoId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrilhoId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Data_Reserva_Efetuada)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Data_Reserva_Efetuada)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Inicio_Reserva)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Inicio_Reserva)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ReservaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
