@model IEnumerable<Trails4Healthy.Models.ReservaEquipamentos>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Data_Reserva_Efetuada)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Inicio_Reserva)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Trails)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Turistas)
            </th>

            <th>

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Data_Reserva_Efetuada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inicio_Reserva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trails.TrailID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Turistas.TuristaId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReservaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReservaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReservaId">Delete</a>
            
            </td>
        </tr>
}
    </tbody>
</table>
