@model Trails4Healthy.Models.Equipamento

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Equipamento</h4>
    <hr />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DescricaoEquipamento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DescricaoEquipamento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ValorUnidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValorUnidade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QuantidadeEquip)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QuantidadeEquip)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NomeEquipamento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomeEquipamento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Disponível)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Disponível)
        </dd>

    </dl>
</div>
<div>
    Quantidade:<input />
               <form method="post" asp-action="#">

                   <input  asp-for=""/><br />
                   <button type="submit">
                       Reservar
                   </button>

               </form>
</div>
