@model Trails4Healthy.Models.Trail

@{
    ViewData["Title"] = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nome
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Distância
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Distance)
        </dd>
        <dt>
            Disponibilidade
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Available)
        </dd>
        <dt>
            Dificuldade
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Difficulty.Name)
        </dd>
    </dl>
</div>
<div>
    @if (Model.Available == true)
    {
        <p><a asp-action="Index1" class="btn btn-primary">Reservar trilho</a></p> 

    }
    else
    {
        <p style="color:red">trilho não disponivel para reserva</p>

    }
    <a asp-action="Index1">Voltar para a lista</a>
</div>
